/* Background colors for containers */

/*
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: hsla(120, 100%, 50%, .4);
}

.content {
  background-color: hsla(120, 100%, 50%, .4);
}

.profile-image {
  background-color: hsla(300, 100%, 50%, .4);
}

.name-headline {
  background-color: hsla(300, 100%, 50%, .4);
}

.about {
  background-color: hsla(300, 100%, 50%, .4);
}

.links {
  background-color: hsla(300, 100%, 50%, .4);
}

รท/

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Positioning */

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  justify-content: center;
  background:url(assets/YXJ0aWNsZXMvcGVyc29uLTEyNDU5NTlfMTI4MC5qcGc=.jpg) no-repeat center center fixed;
  background-size: cover;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 95%;
  margin: 0 auto;
}
h1 {
    font-size: 170%;
}
.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.head, .about {
  margin-bottom: 5%;
}
.mantra {
  font-size: 70%    
}
.about{
  font-size: 80%;
  font-weight: 550;
}
.content {
  padding: 3% 5%;
  margin: 0 auto;
  text-align: center;
}

/* Profile image */

.profile-image {
  margin-top: -60px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}

img:hover {
  filter: grayscale(20%);
  transform: scale(1.1);
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
